{{ partial "header.html" . }}


  {{ if .Params.image }}
    <div class="post-image" style="background-image: url({{.Params.image}});"></div>
  {{ end }}

<div class="container">

  <div class="row">

    <div class="col-md-6 col-md-offset-1 col-sm-7 docs-content">

      <h1>{{.Title}}</h1>

      {{.Content}}

      <div class="footer-content">
        {{ partial "mailchimp.html" . }}


        {{ template "_internal/disqus.html" . }}
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 blog-sidebar-post-list">
      <h4>Latest Posts</h4>
      <div class="recent-posts">
        {{ range first 8 ( where .Site.Pages "Section" "blog") }}
          <a class="blogpost-list-small" href="{{.Permalink}}">
            <h5 class="text">{{ .Title }}</h5>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .Date.Format "2 Jan 2006" }}
            </time>
          </a>
        {{ end }}
      </div>
    </div>

  </div>

</div>

{{ partial "footer.html" . }}
