{{ partial "header.html" . }}


<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {{ if eq .Type "admin-doc" }}
          <h1 class="thin-margin">Admin Documentation</h1>
        {{end}}
        {{ if eq .Type "user-doc" }}
          <h1 class="thin-margin">User Documentation</h1>
        {{end}}
      </div>
      <div class="col-sm-6">
        <div class="float right float-none-sm">
          <input type="text" placeholder="Search docs" class="doc-search-input">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-2 sidebar">
      <div class="sidebar-inner">
        {{ if eq .Type "admin-doc" }}
        {{partial "menu_admin_docs"}}
        {{end}}
        {{ if eq .Type "user-doc" }}
        {{partial "menu_user_docs"}}
        {{end}}
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-1 docs-content">

      <h1>{{.Title}}</h1>

      {{.Content}}

      <div class="text-center">
        <a class="edit-link" target="_blank"
        href="https://github.com/BookStackApp/website/blob/master/content/{{ .File.Path }}">
          <span class="icon small">{{partial "icon/edit.svg"}}</span>
          Edit this Page
        </a>
      </div>

    </div>
  </div>

</div>

{{ partial "footer.html" . }}
