
.post-image {
    height: 360px;
    background-size: cover;
    background-position: 50% 50%;
}

.container .post-avatar {
	border-radius: 100%;
	position: relative;
	display: inline-block;
	top: 10px;
	margin: 0 $-xs;
	border: 0;
}

.post-content {
	max-width: 700px;
	margin: 0 auto;
}

.post-content img:not(.no-border) {
	border-radius: 3px;
	border: 1px solid #DDD;
}

.post-content video {
  max-width: 100%;
  border: 1px solid $primary;
  border-radius: 3px;
}

.post-content iframe {
  max-width: 100%;
}

.pagination {
	text-align: center;
	font-size: 0.8em;
	color: #666;
	margin: $-m 0;
	display: block;
	margin-bottom: $-xxl;
	a {
		display: inline-block;
		border: 1px solid #BBB;
		border-radius: 3px;
		padding: $-xs $-m;
		color: #666;
		margin-top: -$-s
	}
	.older-posts {
		float: right;
	}
	.newer-posts {
		float: left;
	}
}

article.post {
	h2 {
		margin-bottom: 0;
	}
}

.blog-cover {
	h1 {
		font-size: 5em;
		color: #FFF;
		font-weight: 300;
		padding: 0.5em 0;
	}
}

#mc_embed_signup {
	background: #F8F8F8;
	padding: $-l;
	border: 1px solid #DDD;
	margin-bottom: $-xl;
	margin-top: $-l;
	border-radius: 4px;
	h4 {
		margin-top: 0;
	}
	input {
		padding: $-xs;
		line-height: 1.4;
		font-family: $text;
		border: 1px solid #bbb;
	}
}

.blog-sidebar-post-list {
	padding-top: $-m;
	opacity: 0.7;
	transition: opacity 180ms ease-in-out;
	&:hover {
		opacity: 1;
	}
}
.blogpost-list-small {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #DDD;
	padding: $-s 0;
	h5 {
		color: #666;
	}
	time {
		color: #888;
		font-size: 0.9em;
	}
	&:last-of-type {
		border-bottom: 0;
	}
	&:hover {
		text-decoration: none;
		h5 {
			color: $primary;
		}
	}
}

p.post-date {
  margin-top: -$-m;
  margin-bottom: $-l;
  .post-avatar {
    margin-left: 0;
  }
}
