/**
 * Includes the main navigation header and the faded toolbar.
 */

.header {
  display: block;
  z-index: 2;
  top: 0;
  background-color: $primary-dark;
  color: #fff;
  h2 {
    color: #FFF;
    font-size: 2.666em;
    font-weight: 300;
    @include smaller-than($s) {
      font-size: 2em;
    }
  }
  .spaced {
    margin-top: $-xxl;
    margin-bottom: $-xxl*2;
    h2, p {
      max-width: 420px;
    }
    @include smaller-than($screen-lg) {
      position: relative;
      margin-top: $-m;
      margin-bottom: $-m*2;
    }
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
  }
  .icon svg {
    fill: #FFF
  }
  .menu {
    padding-top: 8px;
  }
}

.logo {
  text-align: left;
  margin: $-m 0;
  h1, img {
    vertical-align: top;
    display: inline-block;
    margin: 0;
  }
  h1 {
    color: #FFF;
    font-size: 1.8em;
    font-weight: 400;
    padding: 4px 0;
  }
  svg {
    margin-right: $-m;
    height: 43px;
    width: auto;
  }
  @include smaller-than($s) {
    h1 {
      font-size: 1.8em;
    }
    svg {
      height: 32px;
      margin-right: $-s;
    }
  }
  a {
    display: inline-block;
  }
  a:hover {
    text-decoration: none;
  }
}
