* {
  box-sizing: border-box;
}
html {
  background-color: #FFFFFF;
  height: 100%;
}
body {
  font-family: $text;
  font-size: $fs-m;
  line-height: 1.6;
  color: #444;
  overflow-x: hidden;
  max-width: 100%;
}

table {
  min-width: 100px;
  td, th {
	min-width: 10px;
	padding: 4px 6px;
	border: 1px solid #DDD;
  }
  th {
    background-color: #EEE;
    font-weight: normal;
  }
}

details {
  border: 1px solid #DDD;
  margin-bottom: 1em;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}
details > summary {
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
  font-weight: bold;
  background-color: #f8f8f8;
  padding: $-xs 1rem;
  cursor: pointer;
}
details[open] > summary {
  margin-bottom: 1rem;
  border-bottom: 1px solid #DDD;
}
details > summary + * {
  margin-top: .2em;
}
details:after {
  content: '';
  display: block;
  clear: both;
}