/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/fonts/roboto-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/fonts/roboto-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/fonts/roboto-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/fonts/roboto-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/fonts/roboto-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 * Header Styles
 */

h1 {
  font-size: 3.625em;
  line-height: 1.22222222em;
  margin-top: 0.48888889em;
  margin-bottom: 0.48888889em;
}
h2 {
  font-size: 2.6666em;
  line-height: 1.294117647em;
  margin-top: 0.8627451em;
  margin-bottom: 0.43137255em;
}
h3 {
  font-size: 2.2222em;
  line-height: 1.571428572em;
  margin-top: 0.78571429em;
  margin-bottom: 0.43137255em;
}
h4 {
  font-size: 1.666em;
  line-height: 1.375em;
  margin-top: 0.78571429em;
  margin-bottom: 0.43137255em;
}



h1, h2, h3, h4, h5 {
  font-weight: 400;
  position: relative;
  display: block;
  color: #444;
  .subheader, small {
    font-size: 0.5em;
    line-height: 1em;
    color: lighten($text-dark, 16%);
  }
}

h5 {
  font-size: 1.1em;
  line-height: 1.375em;
  margin-top: 0.78571429em;
  margin-bottom: 0.43137255em;
  font-weight: 500;
}

/*
 * Link styling
 */
a, .link {
  color: $primary;
  cursor: pointer;
  text-decoration: none;
  transition: color ease-in-out 80ms;
  font-family: $text;
  line-height: 1.6;
  &:hover {
    text-decoration: underline;
    color: darken($primary, 20%);
  }
  i {
    padding-right: $-s;
  }
  i.zmdi-hc-flip-horizontal {
    padding-right: 0;
    padding-left: $-s;
  }
}

@include smaller-than($m) {
  h1 {
    font-size: 2.666em;
  }
  h2 {
    font-size: 2.2222em;
  }
  h3 {
    font-size: 1.6666em;
  }
  h4 {
    font-size: 1.3333em;
  }
}

/*
 * Other HTML Text Elements
 */
p, ul, ol, pre, table, blockquote {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

hr {
  border: 0;
  height: 1px;
  border: 0;
  background: #EAEAEA;
  margin: $-xl 0;
  &.faded {
    background-image: linear-gradient(to right, #FFF, #e3e0e0 20%, #e3e0e0 80%, #FFF);
  }
  &.margin-top, &.even {
    margin-top: $-l;
  }
}

strong, b, .bold, .strong {
  font-weight: bold;
  > strong, > b, > .bold, > .strong {
    font-weight: bolder;
  }
}

em, i, .italic {
  font-style: italic;
}

small, p.small, span.small, .text-small {
  font-size: 0.8em;
}

sup, .superscript {
  vertical-align: super;
  font-size: 0.8em;
}

pre {
  font-family: monospace;
  white-space:pre;
  font-size: 0.8em;
  overflow: hidden;
  border-radius: 2px;
  // box-shadow: inset 1px 2px 2px rgba(10, 10, 10, 0.06);
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  padding: 0;
  overflow-x: auto;
}

blockquote {
  display: block;
  position: relative;
  border-left: 4px solid $primary;
  background-color: #F8F8F8;
  padding: $-s $-m $-s $-xl;
  &:before {
    content: "\201C";
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: $-s;
    left: $-s;
    color: lighten($text-dark, 20%);
  }
}

.code-base {
    background-color: #F8F8F8;
    font-family: monospace;
    font-size: 0.80em;
    border: 1px solid #DDD;
    border-radius: 3px;
}

code {
  @extend .code-base;
  display: inline;
  padding: 1px 3px;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.2em;
  margin-bottom: 1.2em;
  color: #c54545;
}

span.code {
  @extend .code-base;
  padding: 1px $-xs;
}

pre code {
  background-color: transparent;
  font-size: 1em;
  border: none;
  max-width: 100%;
  display: block;
  margin-bottom: 0;
  padding: .5rem 1rem;
  white-space: pre;
}
/*
 * Text colors
 */
p.pos, p .pos, span.pos, .text-pos {
  color: $positive;
  &:hover {
    color: $positive;
  }
}

p.neg, p .neg, span.neg, .text-neg {
  color: $negative;
  &:hover {
    color: $negative;
  }
}

p.muted, p .muted, span.muted, .text-muted {
	color: lighten($text-dark, 13%);
    &.small, .small {
      color: lighten($text-dark, 28%);
    }
}

p.primary, p .primary, span.primary, .text-primary {
	color: $primary;
  &:hover {
    color: $primary;
  }
}

p.secondary, p .secondary, span.secondary, .text-secondary {
	color: $secondary;
  &:hover {
    color: $secondary;
  }
}

.text-book {
  color: $color-book;
  &:hover {
    color: $color-book;
  }
}
.text-page {
  color: $color-page;
  &:hover {
    color: $color-page;
  }
}
.text-chapter {
  color: $color-chapter;
  &:hover {
    color: $color-chapter;
  }
}

span.highlight {
  //background-color: rgba($primary, 0.2);
  font-weight: bold;
  //padding: 2px 4px;
}

/*
 * Lists
 */
ul {
  list-style: disc;
  margin-left: $-m*1.5;
  ul {
    margin-bottom: 0;
    margin-top: 0;
    list-style: circle;
  }
}

@include smaller-than($l) {
  ul li a, ol li a {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

ol {
  list-style-type: decimal;
  padding-left: $-m*1.2;
  li {
    margin-bottom: 3px;
  }
}

/*
 * Generic text styling classes
 */
.underlined {
  text-decoration: underline;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/**
 * Grouping
 */
.header-group {
  margin: $-m 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

span.sep {
  color: #BBB;
  padding: 0 $-xs;
}

.list > * {
  display: block;
}

/**
  * Icons
  */
span.icon {
  padding-right: $-xs;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  width: 24px + $-s;
  svg {
    fill: $primary;
    display: inline-block;
    vertical-align: top;
  }
}

.icon.book svg { fill: $color-book; }
.icon.chapter svg { fill: $color-chapter; }
.icon.page svg { fill: $color-page; }
