@import "reset";
@import "variables";
@import "mixins";
@import "html";
@import "code";
@import "codemirror";
@import "text";
@import "grid";
@import "blocks";
@import "buttons";
@import "header";
@import "blog";
@import "photoswipe";

.md-margin-top {
  margin-top: $-xxl*1.4;
  @include smaller-than($screen-lg) {
    margin-top: $-m;
  }
}

.md-margin-bottom {
  margin-bottom: $-xxl*1.4;
  @include smaller-than($screen-lg) {
    margin-bottom: $-m;
  }
}

.screenshot-container-parent {
  perspective: 800px;
  z-index: 5;
  perspective-origin: 50% 50%;
}

@keyframes slow-rotate {
  from {
      transform: rotateY(-10deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.screenshot-container {
  animation: slow-rotate ease-in-out 1s;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.2);
  border: 3px solid #DDD;
  position: absolute;
  transform: rotateY(0) translateX(0);
  transform-style: preserve-3d;
  transition: all ease-in-out 280ms;
  transform-origin: 50% 50%;
  z-index: 50;
  &:hover {
    transform: rotateY(-10deg) translateX(20px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  .window-row {
    line-height: 1;
    background-color: #DDD;
    padding: 2px 4px;
    .window-option {
      display: inline-block;
      background-color: red;
      width: 8px;
      margin-right: 2px;
      height: 8px;
      border-radius: 50%;
    }
  }
  @include smaller-than($screen-lg) {
    position: relative;
    width: 80%;
    display: block;
    margin-bottom: $-l;
  }
}
.screenshot {
  display: block;
  max-width: 100%;
  border-radius: 2px;
}

.sponsor-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  a {
    display: block;
    flex: 1;
    margin: $-s $-xl;
    min-width: 140px;
  }
}

header .menu, footer .menu {
  text-align: right;
  a {
    display: inline-block;
    padding: $-m;
    line-height: 1.9
  }
  span.icon {
    font-size: 16px;
    vertical-align: top;
    padding-right: 4px;
    display: inline-block;
    position: relative;
    top: 2px;
    svg {
      height: 18px;
      margin-top: 3px;
    }
  }
}

header .menu a {
  color: #FFF;
}

.hero a {
  color: #FFF;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: underline;
}

header #menu-button {
  display: none;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding-top: $-m;
}

@include smaller-than($xl) {
  body header {
    padding-top: $-xxl*1.7;
  }
  header .row.fix-mobile {
    top: 0;
    position: fixed;
    background-color: $primary;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  header #menu-button {
    display: inline-block;
  }
  header .menu .inner {
    display: none;
    right: $-m;
    position: fixed;
    border-radius: 3px;
    width: 240px;
    background-color: #FFF;
    z-index: 55;
    padding: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    &.showing {
      display: block;
    }
    a {
      color: #444;
      display: block;
      text-align: left;
      border-bottom: 1px solid #EEE;
      padding: $-m $-m*2;
    }
    a .icon svg {
      fill: #444;
    }
    &:after {
      width: 16px;
      height: 16px;
      content: '';
      display: block;
      background-color: #FFF;
      transform: rotate(45deg);
      position: absolute;
      top: -6px;
      border-radius: 2px;
      right: 22px;
    }
  }
  footer .menu {
    display: none;
  }
}

footer {
  padding-top: $-l;
  padding-bottom: $-l;
  p {
    padding: $-m 0;
    margin: 0;
  }
}

footer, .shaded-border {
  border-top: 1px solid #DDD;
}


h3 > i {
  color: $primary;
  vertical-align: top;
  padding-top: 8px;
  padding-right: $-s;
}

p > i {
  vertical-align: top;
}

label {
  display: inline-block;
  margin-top: $-s;
  font-weight: 500;
}

input[type=text] {
  font-family: $text;
  font-size: 14px;
  padding: $-xs*1.2 $-s;
  width: 230px;
  border-radius: 2px;
  border: 1px solid #DDD;
  color: #666;
}

.demo-box {
  display: inline-block;
  background: #FFF;
  border: 1px solid #DDD;
  padding: $-xl;
  border-radius: 3px;
}

.my-gallery {
  figure img {
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0);
    transition: all cubic-bezier(.62, .28, .23, .99) 160ms;
    &:hover {
      transform: translate3d(0, -6px, 0);
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
    }
  }
  figcaption {
    margin-bottom: .5rem;
  }
  h4 {
    margin-bottom: 0;
  }
}


.docs-content {
  padding-bottom: $-xxl;
  .edit-link {
    margin-top: $-xxl;
    display: inline-block;
    padding: $-s $-xl;
    border-radius: 24px;
    z-index: 1;
    position: relative;
    border: 2px solid #DDD;
    color: #888;
    transition: all ease-in-out 120ms;
    .icon {
      width: 24px;
      vertical-align: 4px;
    }
    svg {
      transition: all ease-in-out 120ms;
      fill: #888;
      height: 18px;
      width: 20px;
    }
  }
  .edit-link:hover {
    border-color: $primary;
    color: $primary;
    text-decoration: none;
    svg {
      fill: $primary;
    }
  }
  img, video {
    border: 1px solid $primary;
    border-radius: 3px;
    max-width: 100%;
  }
  video {
    cursor: pointer;
    margin: $-l auto;
    display: block;
  }
}

.docs-section-title {
  font-size: 2rem;
  font-weight: 300;
}

.sidebar, .docs-index {
  margin-top: $-xl;
  h4 {
    padding-top: 0;
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  li {
    padding: 2px 0;
  }
}

.sidebar {
  border-right: 2px dotted #E5E5E5;
}

.sidebar-inner {
  display: none;
}
.sidebar-inner.mobile {
  display: block;
}


@include larger-than($l) {
  .sidebar {
    position: sticky;
    top: $-m;
  }
  .sidebar-inner {
    display: block;
  }
  .sidebar-inner.mobile {
    display: none;
  }
}


h2.thin-margin {
  margin-top: 0;
}

#content {
  min-height: 70vh;
}


.blogpost-cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: $-xl;
}

.blogpost-card {
  display: block;
  margin-bottom: $-m;
  flex: 1;
  min-width: 280px;
  max-width: 320px;
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  a {
    display: block;
  }
  .image {
    height: 160px;
    background-size: cover;
  }
  .text {
    padding: $-m;
    font-size: 1.1rem;
    font-weight: 500;
  }
  &:hover {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  }
}


input[type="text"].doc-search-input {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  background-color: $primary;
  border-radius: 30px;
  width: 300px;
  margin-bottom: $-m;
  margin-top: $-xs;
  &::-webkit-input-placeholder { /* Chrome */
    color: rgba(255, 255, 255, 0.7);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.7);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  &:-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  &:focus, &:active {
    outline: none;
  }
}
