{{ partial "header.html" . }}


<div class="shaded primary">
	<div class="container hero padded-vertical">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h1 class="text-left">{{.Title}}</h1>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">


		<div class="col-sm-6 col-sm-offset-3 padded-top">

			<div class="margin-top large text-left">
				<a href="{{.Site.BaseURL}}blog/index.xml" target="_blank"><span class="icon" aria-hidden="true">{{partial "icon/rss_feed.svg"}}</span>RSS Feed</a>
				<span class="inline block margins-horizontal muted">|</span>
				<a href="https://updates.bookstackapp.com/signup/bookstack-news-and-updates" target="_blank"><span class="icon" aria-hidden="true">{{partial "icon/email.svg"}}</span>Email Updates</a>
			</div>

			{{ $paginator := .Paginator }}

			{{ range $paginator.Pages }}
			   {{ partial "list-blog-post" .}}
			{{ end }}

			{{ partial "pagination" $paginator }}

		</div>

	</div>
</div>

{{ partial "footer.html" . }}