{{ partial "header.html" . }}
<div class="header">
	<div class="container">
		<div class="row hero">
		    <div class="col-md-4 spaced">
		        <h1>Simple &amp; Free <br>Wiki Software</h1>
		        <p>BookStack is a simple, self-hosted, easy-to-use platform for organising and storing information.</p>
		        <p>
		          <a href="https://github.com/BookStackApp/BookStack">GitHub</a> &nbsp;-&nbsp;
		          <a href="https://demo.bookstackapp.com">Demo</a> &nbsp;-&nbsp;
		          <a href="/docs/admin/installation">Install</a>
		        </p>

				<p class="nomargin">
					<br>
					Latest Blog Post: <br>
					{{ range first 1 ( where .Site.Pages "Section" "blog") }}
							<a href="{{.Permalink}}">{{ .Title }}</a>
					{{ end }}
				</p>
		    </div>
		    <div class="col-md-8 screenshot-container-parent">
		    	<div class="screenshot-container">
		    		<div class="window-row">
		    			<div class="window-option red"></div>
		    			<div class="window-option" style="background-color: orange;"></div>
		    			<div class="window-option"  style="background-color: green;"></div>
		    		</div>
		        	<img class="screenshot" src="images/bookstack-hero-screenshot.webp" alt="BookStack ScreenShot">
		    	</div>
		    </div>
		</div>
	</div>
</div>


  <div class="container md-margin-top">
        <h2 id="features" class="nomargin margin-bottom">Features</h2>
        <div class="row">
            <div class="col-sm-4">
                <h4><span class="icon" aria-hidden="true">{{partial "icon/code.svg"}}</span>Free &amp; Open Source</h4>
                <p>BookStack is fully free and open, MIT licensed. The source is available on GitHub. There is no cost to downloading and installing your own instance of bookstack.
                </p>
                <p>
                    <a href="https://github.com/BookStackApp/BookStack">View the source here &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/laptop_chromebook.svg"}}</span>Easy, Simple Interface</h4>
                <p>
                    Simplicity has been the top priority when building BookStack. The page editor has a simple WYSIWYG interface and all content is broken into three simple real world groups:
                </p>
                <p>
					<span class="icon book" aria-hidden="true">{{partial "icon/book.svg"}}</span>Books
					&nbsp;&nbsp;<span class="icon chapter" aria-hidden="true">{{partial "icon/collections_bookmark.svg"}}</span>Chapters&nbsp;&nbsp;
					<span class="icon page" aria-hidden="true">{{partial "icon/description.svg"}}</span>Pages
                </p>
            </div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/search.svg"}}</span>Searchable and Connected</h4>
                <p>
                    The content in BookStack is fully searchable. You are able to search at book level or across all books, chapters &amp; pages. The ability to link directly to any paragraph allows you to keep your documentation connected.
                </p>
            </div>
        </div>
        <p>
            <br>
        </p>
        <div class="row">
            <div class="col-sm-4">
                <h4><span class="icon" aria-hidden="true">{{partial "icon/build.svg"}}</span>Configurable</h4>
                <p>
                    Configuration options allow you to set-up BookStack to suit your use case. You can change the name, logo and registration options. You can also change whether the whole system is publicly viewable or not.
                </p>
            </div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/storage.svg"}}</span>Simple Requirements</h4>
                <p>
                    BookStack is built using PHP, on top of the Laravel framework and it uses MySQL to store data. Performance has been kept in mind and BookStack can run happily on a $5 Digital Ocean VPS.
                </p>
            </div>
            <div class="col-sm-4">
                <h4><span class="icon" aria-hidden="true">{{partial "icon/drawing.svg"}}</span>Built-In diagrams.net</h4>
                <p>
                    The page editor within BookStack has <a href="https://www.diagrams.net/" target="_blank">diagrams.net</a> 
                    drawing capability built-in, allowing the quick and easy creation of diagrams within your documentation.
                </p>
            </div>
        </div>
        <p>
            <br>
        </p>
        <div class="row">
            <div class="col-sm-4">
                <h4><span class="icon" aria-hidden="true">{{partial "icon/language.svg"}}</span>Multi-Lingual</h4>
                <p>
                    BookStack users can set their preferred language. Thanks to great community contributors, current languages built into BookStack include EN, FR, DE, ES, IT, JA, NL, PL, RU and <a href="https://crowdin.com/project/bookstack" target="_blank">many more</a>.
                </p>
            </div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/edit.svg"}}</span>Optional Markdown Editor</h4>
                <p>
                   If you prefer to write in Markdown then BookStack supports you. A markdown editor is provided and includes a live-preview as you write your documentation.
                </p>
            </div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/lock.svg"}}</span>Integrated Authentication</h4>
                <p>
                	As well as the default email/password login social providers such as GitHub, Google, Slack, AzureAD and more can be used. Okta, SAML2 and LDAP options are available for enterprise environments.
                </p>
            </div>
        </div>
        <p>
            <br>
        </p>
        <div class="row">
        	<div class="col-sm-4" >
        	    <h4><span class="icon" aria-hidden="true">{{partial "icon/directions_boat.svg"}}</span>Powerful Features</h4>
        	    <p>
        	        On top of the powerful search and linking there is also cross-book sorting, page revisions and image management. A full role and permission system allow you to lock down content and actions as required.
        	    </p>
        	</div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/mfa.svg"}}</span>Multi-Factor Authentication</h4>
                <p>
                	MFA is built in & can be enforced at a per-role level where desired.
                	MFA options include TOTP (Google/Microsoft Authenticator, Authy, etc...) and static backup codes.
                </p>
            </div>
            <div class="col-sm-4" >
                <h4><span class="icon" aria-hidden="true">{{partial "icon/dark-mode.svg"}}</span>Dark & Light Modes</h4>
                <p>
                   BookStack provides it's user interface in both a light theme and a dark theme, saving the eyes
                   of those that prefer to work in the shadows. This is configurable at a user level.
                </p>
            </div>
        </div>
    </div>


	<div class="shaded-border md-margin-top">
		<div class="container md-margin-top">
			<div class="row">
				<div class="col-sm-4">
					<h2 id="sponsors" class="nomargin margin-bottom">Project Sponsors</h2>
					<p>
						Shown are our bronze, silver and gold project sponsors. <br>
						Big thanks to these companies for supporting the project. <br>
						Note: Listed services are not tested, vetted nor supported by the official BookStack project in any manner. <br>
						<br>
						<a target="_blank" href="https://github.com/sponsors/ssddanbrown">View all sponsors &raquo;</a>
					</p>
				</div>
				<div class="col-sm-8 text-center">
					<p><br></p>
					<h5>Our Silver Sponsors</h5>

					<div class="sponsor-list">

						<a href="https://www.diagrams.net/" target="_blank">
							<img width="400" src="/images/sponsors/diagramsnet.png" alt="Diagrams.net logo">
						</a>
						<a href="https://cloudabove.com/hosting" target="_blank">
							<img height="100" src="/images/sponsors/cloudabove.png" alt="Cloudabove logo">
						</a>

					</div>

					<p><br></p>

					<h5>Our Bronze Sponsor</h5>

					<div class="sponsor-list">
						
						<a href="https://www.stellarhosted.com/bookstack/" target="_blank">
							<img width="280" src="/images/sponsors/stellarhosted.png" alt="Stellar Hosted Logo">
						</a>

						<a href="https://www.practicali.be" target="_blank">
							<img height="100" src="/images/sponsors/practicali.png" alt="Practicali logo">
						</a>

					</div>

				</div>
			</div>

		</div>
	</div>



    <div class="shaded shaded-border md-margin-top padded-vertical large">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-6">
    				<h2 class="nomargin margin-bottom" id="demo">Try Out BookStack</h2>
    				<p>
    					You can try out BookStack right now by using the given details.
    					<strong>The demo database &amp; image storage is automatically reset every half hour.</strong>
    					Most standard actions are available using the provided admin login but some actions, listed below, have been restricted to keep the demo instance open &amp; available. That said, all options &amp; actions are at least visible to the demo admin user.
    				</p>
					<div>
						<strong>Actions Restricted In Demo</strong>
						<ul>
							<li>User deletion</li>
							<li>User updates</li>
							<li>Setting updates</li>
						</ul>
					</div>
    			</div>
    			<div class="col-sm-6 text-center">
					<div class="demo-box text-left " >
						<label>Demo site url</label> <br><a href="https://demo.bookstackapp.com" target="_blank">https://demo.bookstackapp.com</a> <br>
						<label for="demo-email">Admin email</label> <br><input id="demo-email" type="text" onclick="this.select();" value="admin@example.com" readonly="true"><br>
						<label for="demo-password">Admin password</label> <br><input id="demo-password" type="text" onclick="this.select();" value="password" readonly="true"> <br><br>
						<a href="https://demo.bookstackapp.com/login?email=admin@example.com&password=password" class="button" target="_blank">Open demo site</a>
					</div>
    			</div>
    		</div>
    	</div>
    </div>

	<div class="padded-vertical large">
		<div class="container">
			<h2 class="nomargin margin-bottom" id="screenshots">Screenshots</h2>
			<div class="my-gallery">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Page View</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>How core content is viewed in BookStack</figcaption>
						    <a href="images/screenshots/page-view.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_page-view.png" alt="Page View" loading="lazy">
						    </a>
						</figure>
					</div>
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Page Editor</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>The WYSIWYG interface for editing pages</figcaption>
						    <a href="images/screenshots/page-edit.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_page-edit.png" alt="Page Editing" loading="lazy">
						    </a>
						</figure>
					</div>
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Image Manager</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>How images are uploaded and managed</figcaption>
						    <a href="images/screenshots/image-manager.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_image-manager.png" alt="Image Manager" loading="lazy">
						    </a>
						</figure>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>All Books Overview</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>An overview of the top-level categorisation</figcaption>
						    <a href="images/screenshots/books-view.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_books-view.png" alt="View of all books" loading="lazy">
						    </a>
						</figure>
					</div>
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Book Overview</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>A view of the main content container: A book</figcaption>
						    <a href="images/screenshots/book-overview.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_book-overview.png" alt="Book Overview" loading="lazy">
						    </a>
						</figure>
					</div>
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Book Sorting</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>How created content can be sorted within a book</figcaption>
						    <a href="images/screenshots/book-sorting.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_book-sorting.png" alt="Book Content Sorting View" loading="lazy">
						    </a>
						</figure>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Global Search</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>The main interface for searching created content</figcaption>
						    <a href="images/screenshots/search.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_search.png" alt="Searching all content" loading="lazy">
						    </a>
						</figure>
					</div>
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>App Settings</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>A view the of application system settings</figcaption>
						    <a href="images/screenshots/settings-view.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_settings-view.png" alt="Settings View" loading="lazy">
						    </a>
						</figure>
					</div>
					<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
						<h4>Profile Page</h4>
						<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
							<figcaption>A user profile page, showing their activity and content</figcaption>
						    <a href="images/screenshots/profile-page.png" data-size="1666x910">
						        <img src="images/screenshots/thumb_profile-page.png" alt="Profile Editing Screen" loading="lazy">
						    </a>
						</figure>
					</div>
				</div>

			</div>
		</div>
	</div>


    <div class="shaded shaded-border md-margin-top padded-vertical large" id="blog-list">
        <div class="container">
            <h2>Latest From The Blog</h2>

			<div class="blogpost-cards">
				{{ range first 4 ( where .Site.Pages "Section" "blog") }}
					<div class="blogpost-card">
						<a href="{{.Permalink}}">
							{{ if .Params.image }}
							    {{ $image := resources.Get .Params.image }}
								{{ $sized := $image.Resize "604x q90" }}
								<div class="image">
									<img src="{{$sized.RelPermalink}}" loading="lazy" width="302" height="160" alt="{{ .Title }}">
								</div>
							{{ end }}
							<div class="text">{{ .Title }}</div>
						</a>
					</div>
				{{ end }}
			</div>

			<div class="clearfix"></div>

            <div class="padded-top"><a class="button" href="/blog">Read the blog &raquo;</a></div>
        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="pswp__bg"></div>
	    <div class="pswp__scroll-wrap">
	        <div class="pswp__container">
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	        </div>
	        <div class="pswp__ui pswp__ui--hidden">
	            <div class="pswp__top-bar">
	                <div class="pswp__counter"></div>
	                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
	                <button class="pswp__button pswp__button--share" title="Share"></button>
	                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
	                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
	                <div class="pswp__preloader">
	                    <div class="pswp__preloader__icn">
	                      <div class="pswp__preloader__cut">
	                        <div class="pswp__preloader__donut"></div>
	                      </div>
	                    </div>
	                </div>
	            </div>
	            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
	                <div class="pswp__share-tooltip"></div>
	            </div>
	            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
	            </button>
	            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
	            </button>
	            <div class="pswp__caption">
	                <div class="pswp__caption__center"></div>
	            </div>
	        </div>
	    </div>
	</div>

	<script async src="libs/photoswipe.min.js"></script>

{{ partial "footer.html" . }}
