<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ partial "twitter_card.html" . }}

  	<meta property="og:title" content="{{ if ne .RelPermalink "/" }}{{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
  	<meta property="og:site_name" content="{{ .Site.Title }}" />
  	<meta property="og:url" content="{{ .Permalink }}" />


    {{ $baseURL := .Site.BaseURL }}
    {{ if and (.IsPage) (ne .Type "about")  }}

    {{ with .Params.image }}
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta  name="image" property="og:image" content="{{ . | absURL }}"/>
    {{ end }}

  	<meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    <meta property="og:article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />

    {{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}" />
    {{ end }}
    {{ else }}
    <meta property="og:type" content="website" />
    {{ end }}

    <title>
      {{ if ne .RelPermalink "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
    </title>

    {{ $description := .Site.Params.Description }}
    {{ if and (.Params.Description) (.IsPage) }}
      {{ $description = .Params.Description }}
    {{ else if .IsPage}}
        {{ $description = .Summary }}
    {{ end }}
    <meta name="description" content="{{ $description }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#13557D">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />

    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />

    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/styles.css?v={{ now.Format "2006-01-02T15:04:05" }}" />

    {{ if .Site.Params.RSSLink}}
        <link href="{{.Site.Params.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{else}}
      {{ if ne .RelPermalink "/" }}
          <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      {{ end }}
      {{if .IsNode}}
        <link href="{{ with .OutputFormats.Get "RSS" }}{{ .Permalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ if ne .RelPermalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
      {{end}}
    {{end}}
    {{hugo.Generator}}

    <link rel="canonical" href="{{ .Permalink }}" />

    <script async defer data-domain="bookstackapp.com" src="https://analytics.bookstackapp.com/js/plausible.js"></script>

    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}libs/docs-searchbar.min.css" />

    {{ if .Site.Params.customHeaderPartial }}
        {{ partial .Site.Params.customHeaderPartial . }}
    {{ end }}
</head>
<body class="nav-closed">

  <header id="header" class="header clearfix">
    <div class="container">
      <div class="logo">
          <a href="{{.Site.BaseURL}}">
              {{partial "icon/logo.svg"}}
              <div>BookStack</div>
          </a>
          <button tabindex="1" id="menu-button" class="button muted" type="button">{{partial "icon/menu.svg"}}</button>
      </div>
      <div class="header-search-section">
        <input type="text" placeholder="Search site" class="doc-search-input">
      </div>
      <div class="main-nav">
          <div class="nav-dropdown-wrap">
            <a href="#"  onclick="event.preventDefault()" class="nav-dropdown-trigger">Platform</a>
            <div class="nav-dropdown-menu">
              <a href="/#features" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/features.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Features</div>
                  <p>An overview of the core features of BookStack</p>
                </div>
              </a>
              <a href="/#demo" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/demo.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Demo</div>
                  <p>Give BookStack a test drive on our demo instance</p>
                </div>
              </a>
              <a href="/docs" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/book.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Documentation</div>
                  <p>Guidance for managing and using BookStack</p>
                </div>
              </a>
              <a href="/blog" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/rss_feed.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Our Blog</div>
                  <p>Get the latest project news from our blog</p>
                </div>
              </a>
            </div>
          </div>
          <div class="nav-dropdown-wrap">
            <a href="/support"  onclick="event.preventDefault()" class="nav-dropdown-trigger">Support</a>
            <div class="nav-dropdown-menu">
              <a href="/docs" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/book.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Documentation</div>
                  <p>Get support from our user and admin documentation</p>
                </div>
              </a>
              <a href="/support" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/support.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Support Plans</div>
                  <p>See our range of support plans for BookStack</p>
                </div>
              </a>
              <a href="/donate" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/donate.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Donate</div>
                  <p>Provide financial support to the project</p>
                </div>
              </a>
              <a href="https://www.youtube.com/c/BookStackApp" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/youtube.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Video Guides</div>
                  <p>Watch our video guides on YouTube</p>
                </div>
              </a>
              <a href="https://github.com/BookStackApp/BookStack/issues" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/github.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">GitHub Issues</div>
                  <p>Find or report issues on the GitHub project</p>
                </div>
              </a>
            </div>
          </div>
          <div class="nav-dropdown-wrap">
            <a href="#" onclick="event.preventDefault()" class="nav-dropdown-trigger">Community</a>
            <div class="nav-dropdown-menu">
              <a href="https://github.com/BookStackApp/BookStack" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/github.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">GitHub</div>
                  <p>Star the project on GitHub and follow us</p>
                </div>
              </a>
              <a href="https://discord.gg/ztkBqR2" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/discord.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Discord</div>
                  <p>Chat with the development team and other users</p>
                </div>
              </a>
              <a href="https://twitter.com/bookstack_app" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/twitter.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Twitter</div>
                  <p>See updates and shout us out on Twitter</p>
                </div>
              </a>
              <a href="https://fosstodon.org/@bookstack" rel="me" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/mastodon.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Mastodon</div>
                  <p>Follow the project on Mastodon</p>
                </div>
              </a>
              <a href="https://www.youtube.com/c/BookStackApp" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/youtube.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">YouTube</div>
                  <p>Watch and comment on our YouTube videos</p>
                </div>
              </a>
              <a href="https://www.reddit.com/r/bookstack" target="_blank" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/reddit.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Reddit</div>
                  <p>Join our community on the BookStack subreddit</p>
                </div>
              </a>
              <a href="/blog" class="nav-dropdown-item">
                <div class="nav-dropdown-item-icon" aria-hidden="true">{{partial "icon/rss_feed.svg"}}</div>
                <div>
                  <div class="nav-dropdown-item-title">Our Blog</div>
                  <p>Keep up with the latest developments via our blog</p>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>
  </header>

  <div id="content" class="{{if .IsHome}}homepage{{end}}">