<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
    <form action="https://bookstackapp.us14.list-manage.com/subscribe/post?u=18917f477406e2be3f062086a&amp;id=7de4fb0c79" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h4>Subscribe to Updates</h4>
        <p>This is a weekly newsletter, summarising content from the blog.</p>
        <div class="mc-field-group">
            <input placeholder="Email address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <button class="button">Subscribe</button>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18917f477406e2be3f062086a_7de4fb0c79" tabindex="-1" value=""></div>
        <p class="text-small">This service uses MailChimp to manage sending emails so any information provided will go into their systems. Feel free to review their <a href="https://mailchimp.com/legal/privacy" target="_blank">Privacy Policy</a> and <a href="https://mailchimp.com/legal/terms" target="_blank">Terms</a>. You'll be able to opt-out via a link in the email whenever you want. If you don't trust MailChimp or any BookStack maintainers with the data you provide or emit then please don't sign up.</p>
        <p class="text-small">A security-specific mailing list <a href="http://eepurl.com/glIh8z" target="_blank">can be found here</a>.</p>
    </form>
</div>