<div>
	<h4>Getting Started</h4>
	<ul>
		<li><a href="/docs/user/content-overview">Content Overview</a></li>
		<li><a href="/docs/user/organising-content">Organising Content</a></li>
		<li><a href="/docs/user/getting-around">Getting Around</a></li>
	</ul>
</div>

<div>
	<h4>Common Functions</h4>
	<ul>
		<li><a href="/docs/user/searching">Searching Content</a></li>
		<li><a href="/docs/user/wysiwyg-editor">Default (WYSIWYG) Editor</a></li>
		<li><a href="/docs/user/markdown-editor">Markdown Editor</a></li>
		<li><a href="/docs/user/diagrams">Drawings & Diagrams</a></li>
	</ul>
</div>

<div>
	<h4>Advanced Features</h4>
	<ul>
		<li><a href="/docs/user/page-templates">Page Templates</a></li>
		<li><a href="/docs/user/roles-and-permissions">Roles & Permissions</a></li>
		<li><a href="/docs/user/reusing-page-content">Reusing Page Content</a></li>
		<li><a href="/docs/user/content-permalinks">Page Permalinks</a></li>
	</ul>
</div>