<div>
	<h4>Setup</h4>
	<ul>
		<li><a href="/docs/admin/installation">Installation</a></li>
		<li><a href="/docs/admin/security">Security</a></li>
		<li><a href="/docs/admin/multi-instance">Multiple Instances</a></li>
		<li><a href="/docs/admin/subdirectory-setup">Subdirectory Setup</a></li>
	</ul>
</div>

<div>
	<h4>Maintenance</h4>
	<ul>
		<li><a href="/docs/admin/updates">Updates</a></li>
		<li><a href="/docs/admin/commands">Commands</a></li>
		<li><a href="/docs/admin/backup-restore">Backup &amp; Restore</a></li>
		<li><a href="/docs/admin/debugging">Debugging</a></li>
	</ul>
</div>

<div>
	<h4>Authentication</h4>
	<ul>
		<li><a href="/docs/admin/oidc-auth">OpenID Connect</a></li>
		<li><a href="/docs/admin/saml2-auth">SAML 2.0</a></li>
		<li><a href="/docs/admin/ldap-auth">LDAP</a></li>
		<li><a href="/docs/admin/social-auth">Third Party & Social</a></li>
	</ul>
</div>

<div>
	<h4>Configuration</h4>
	<div class="row">
		<div class="col-md-6">
			<ul>
				<li><a href="/docs/admin/email-webhooks">Email & Webhooks</a></li>
				<li><a href="/docs/admin/visual-customisation">Visual Customisation</a></li>
				<li><a href="/docs/admin/language-config">Language &amp; Locale</a></li>
				<li><a href="/docs/admin/upload-config">File Uploads</a></li>
				<li><a href="/docs/admin/cache-session-config">Caching &amp; Sessions</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul>
				<li><a href="/docs/admin/pdf-rendering">PDF Rendering</a></li>
				<li><a href="/docs/admin/ut8mb4-support">UTF8mb4/Emoji Support</a></li>
				<li><a href="/docs/admin/hacking-bookstack">Hacking BookStack</a></li>
				<li><a href="/docs/admin/other-config">Other Configuration</a></li>
			</ul>
		</div>
	</div>
</div>