<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
    <h4>Subscribe to Updates</h4>
    <p>
        There are two lists you can sign-up to for updates, A general news & updates list, sent on a weekly basis, and a security alerts list
        that's sent when new security updates are available.
    </p>
    <p>
        <a href="https://updates.bookstackapp.com/signup/bookstack-news-and-updates" target="_blank">News and Updates</a>
        <span class="muted padded-horizontal">|</span>
        <a href="https://updates.bookstackapp.com/signup/bookstack-security-updates" target="_blank">Security Alerts</a>
    </p>
</div>